/* The container for the slider timers */
#slider-timer {
	width: 800px;
	font-family: Georgia;
	font-style: oblique;
	font-weight: bold;
	color: #f6931f;
}

/* Tabs */
#tabs {
	width: 800px;
}

/* Hour slider */
#hour-slider, #minute-slider, #second-slider {
	float: left;
	clear: left;
	width: 750px;
	margin: 5px 10px 30px 5px;
}

/* Time display */
#time-display {

	border: 0;
	font-family: Georgia;
	font-style: oblique;
	font-size: larger;
	font-weight: bold;
	text-align: center;
	color: #f6931f;
}

/* Each slider handle */
#hour-slider > .ui-slider-handle, 
#minute-slider > .ui-slider-handle, 
#second-slider > .ui-slider-handle {
	text-decoration: none;
	font-family:Georgia;
	font-style: oblique;
	font-weight: bold;
	width: 30px;
	text-align: center;
}

/* Buttons */
#buttons {
	padding: 6px 4px;
	text-align: center;
}

/* Set the space between sliders */
#sliders > p {
	margin-bottom: 5px;
}